@model HomeViewModel

@{
    ViewData["Title"] = "Пекарня";
}

<h3 align="center">Популярные товары</h3>
<div class="row mt-5 mb-2">
    @{
        foreach(Product product in Model.favProduct)
        {
             @Html.Partial("AllProductPage", product);
        }
    }
</div>